.container {
    margin-top: 30px;
}

.add-list {
    margin-bottom: 30px;
}

.list-list {
    margin-bottom: 50px;
}

.btn-add-list {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: crimson;
}