<div *ngIf="message?.status == 200" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message?.mensagem }}</strong>
</div>

<div *ngIf="message?.status == 422" class="alert alert-warning" role="alert">
    <strong>Error!</strong> {{message?.erro }}
    <li *ngFor="let mensagem of message?.mensagem ">
        {{mensagem}}
    </li>
</div>

<div *ngIf="message?.status == 403" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{message?.erro }}
</div>

<div *ngIf="message?.status == 0" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> Http failure response for Server. Server not found.
</div>